body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100vw;
}

nav {
    background-color: #3a3633;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 25%;
}

a:hover {
    transition: 0.2s;
    opacity: 40%;
}

a{
    text-decoration: none;
    color: white;
}